<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="card">
        <h2>Reset Your Password</h2>
        <form method="post" action="{{ url_for('auth.reset_password', access_token=access_token) }}">
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" required class="passInput" placeholder="New password">
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>
